html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, section,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    
}

/*hago version desktop como base*/ 

body{
    font-family: "IBM Plex Mono", monospace;
}

.header{
    display: block;
    margin: 30px auto;
    text-align: center;
    width: 70%;
}

.title-header{
    font-family: "Indie Flower", cursive;
    font-size: 48px;
    color: rgb(180, 75, 89);
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

.menu-desktop{
    width: 400px;
    margin: 20px auto;
    text-align: center;
    list-style:none;
    display: flex;
    flex-direction: row;
}

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD

=======
>>>>>>> 4c46994baae21beab3f67fd19f1676f2400116ae
=======
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
=======
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
=======
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
.menu-desktop li{
    margin:0 auto;
}

.menu-desktop a{
    text-decoration: none;
    margin: 0 auto;
    color: #000;
}

.menu-desktop li a:hover{
    color: rgb(180, 75, 89);
}

.platos{
    position: relative;
}

.options{
    display:none;
    position: absolute;
    overflow: hidden;
    background-color: #fff;
    z-index:2;
}

.options li{
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
    margin:5px 0;
=======
    margin:10px 0;
>>>>>>> 4c46994baae21beab3f67fd19f1676f2400116ae
=======
    margin:10px 0;
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
=======
    margin:10px 0;
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
=======
    margin:10px 0;
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
}

.platos:hover .options {
    display: block;
}

.menu-mobile{
    display: none;
/*  display:block;
    width: 90%;
    margin:10px auto;
    height: 24px;
    background-color: rgb(180, 75, 89);
    border-radius: 20px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;*/
}

.carousel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px auto;
    padding: 20px 0;
    z-index: 1;
}

.image-carousel{
    margin: 0 5px;
    width: 25%;
    position: relative;
    overflow: hidden;
}

.image-carousel img{
    width: 100%;
}

.hover{
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
    display: none;
    position: absolute;
    bottom:0%;
=======
    position: absolute;
    bottom:-100%;
>>>>>>> 4c46994baae21beab3f67fd19f1676f2400116ae
=======
    position: absolute;
    bottom:-100%;
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
=======
    position: absolute;
    bottom:-100%;
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
=======
    position: absolute;
    bottom:-100%;
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
    left:0%;
    width: 100%;
    background-color: rgba(180, 75, 89, 0.45);
    color: #000;
    padding: 10px 10px;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
    transition: bottom 0.3s ease-out;
>>>>>>> 4c46994baae21beab3f67fd19f1676f2400116ae
=======
    transition: bottom 0.3s ease-out;
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
=======
    transition: bottom 0.3s ease-out;
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
=======
    transition: bottom 0.3s ease-out;
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
}

.info-hover{
    font-size: 10px;
    margin: 10px 10px;
}

.text-hover{
    margin: 10px 10px;
}

.image-carousel:hover .hover{
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
    display:block;
=======
=======
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
=======
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
=======
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
    position: absolute;
    bottom: 0%;
    left:0%;
    transition: bottom 0.3s ease-out;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> 4c46994baae21beab3f67fd19f1676f2400116ae
=======
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
=======
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
=======
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
}

.recipes{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 30px auto;
    padding: 20px 0;
    width: 70%;
}
.list-image{
    position: relative;
    width: 33%;
    margin: 0 5px;
}

.img-recipe{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======

>>>>>>> 4c46994baae21beab3f67fd19f1676f2400116ae
=======
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
=======
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
=======
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
.list-image a{
    display:block;
    margin:0 auto;
    position:absolute;
    top:50%;
    background-color: #fff;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    width: 50%;
    left: 25%;
    height: 25px;
    line-height: 25px;
    color: #000;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
=======
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
=======
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
    transition: all 0.2s;
}

.list-image a:hover {
    background-color: rgb(180, 75, 89);
    color: #fff;
}

.list-image:hover .img-recipe{
    opacity: 0.5;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> 4c46994baae21beab3f67fd19f1676f2400116ae
=======
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
=======
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
=======
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
}

.information{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin:30px auto;
    padding: 20px 0;
    width: 70%;
    overflow: hidden;
}
.video{
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
    width: 60%;
    margin: 25px 0;
=======
    width: calc(100% - 300px);
    margin: 25px 0; 
>>>>>>> 4c46994baae21beab3f67fd19f1676f2400116ae
=======
    width: calc(100% - 300px);
    margin: 25px 0; 
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
=======
    width: calc(100% - 300px);
    margin: 25px 0; 
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
=======
    width: calc(100% - 300px);
    margin: 25px 0; 
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
}
.video p{
    font-size:10px;
}
.about-me{
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
    width: 40%;
=======
    width: 300px;
>>>>>>> 4c46994baae21beab3f67fd19f1676f2400116ae
=======
    width: 300px;
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
=======
    width: 300px;
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
=======
    width: 300px;
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
}
.about-me img{
    display: block;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 25px auto;
}
.border{
    display:block;
    width: 100%;
    background-color: rgb(180, 75, 89);
    text-align: center;
    text-decoration: none;
    color: #fff;
    height: 25px;
}
.about-me h3, .about-me p{
    text-align: center;
    margin: 25px 0;
}
.about-me h3{
    font-size: 20px;
    font-weight: bold;
}
.about-me p{
    font-size: 15px;
}

.articles{
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    padding: 20px 0;
    width: 70%;
}

.div-article{
    display:flex;
    flex-direction: row;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
    overflow: hidden;
    border-top: 1px solid #ccc;
    padding: 20px 0;
=======
    border-top: 1px solid #ccc;
    padding: 20px 0;
    width: calc(100% - 300px);
>>>>>>> 4c46994baae21beab3f67fd19f1676f2400116ae
=======
    border-top: 1px solid #ccc;
    padding: 20px 0;
    width: calc(100% - 300px);
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
=======
    border-top: 1px solid #ccc;
    padding: 20px 0;
    width: calc(100% - 300px);
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
=======
    border-top: 1px solid #ccc;
    padding: 20px 0;
    width: calc(100% - 300px);
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
}

.image-article{
    float: left;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
    width: 40%;
    height: 40%;
=======
>>>>>>> 4c46994baae21beab3f67fd19f1676f2400116ae
=======
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
=======
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
=======
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
    margin-right: 30px;
    margin-top: 10px;
}
.image-article img{
    border-radius: 20px;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
    width: 100%;
    height: 100%;
}
.info-article{
    float: left;
    width:70%;
    margin: 10px 30px;
=======
=======
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
=======
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
=======
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
    width: 250px;
    height: 160px;
}
.info-article{
    float: left;
    width: calc(100% - 250px);
    margin: 10px 0;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> 4c46994baae21beab3f67fd19f1676f2400116ae
=======
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
=======
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
=======
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
}
.interaction-article{
    height: 10px;
    width: 400px;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
    color: #999;
>>>>>>> 4c46994baae21beab3f67fd19f1676f2400116ae
=======
    color: #999;
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
=======
    color: #999;
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
=======
    color: #999;
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
}
.interaction-article p{
    float:left;
    font-size:10px;
}

.interaction-article a{
    float:right;
    font-size:10px;
    margin:0 10px;
    text-decoration: none;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
    color: #999;
>>>>>>> 4c46994baae21beab3f67fd19f1676f2400116ae
=======
    color: #999;
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
=======
    color: #999;
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
=======
    color: #999;
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
}
.interaction-article .material-icons{
    font-size:10px;
}

.text-article{
    float: left;
    width:400px;
    margin: 10px 0;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
    color: #999;
>>>>>>> 4c46994baae21beab3f67fd19f1676f2400116ae
=======
    color: #999;
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
=======
    color: #999;
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
=======
    color: #999;
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
}
.text-article h2{
    font-weight: bold;
    font-size: 25px;
    margin: 15px 0;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
    color: #000;
>>>>>>> 4c46994baae21beab3f67fd19f1676f2400116ae
=======
    color: #000;
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
=======
    color: #000;
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
=======
    color: #000;
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
}
.button-article{
    display:block;
    width: 150px;
    background-color: rgb(180, 75, 89);
    border-radius: 20px;
    height: 40px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    margin-top: 25px;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
=======
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
=======
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
    transition: all 0.2s;
}

.button-article:hover{
    background-color: #fff;
    color: #000;
    border: 1.5px solid rgb(180, 75, 89);
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> 4c46994baae21beab3f67fd19f1676f2400116ae
=======
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
=======
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
=======
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
}

.footer{
    width: 70%;
    margin:50px auto;
    border-bottom: 1px solid #ccc;
}
.social-media{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    margin-bottom: 50px;
}
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======

>>>>>>> 4c46994baae21beab3f67fd19f1676f2400116ae
=======
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
=======
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
=======
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
.social-media li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
.fab, .far, .fas{
    margin: 0 10px;
=======
.fab, .far, .fas{
    margin: 0 10px;
=======
.fab, .far, .fas{
    margin: 0 10px;
=======
.fab, .far, .fas{
    margin: 0 10px;
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
}

.line{
    display: none;
<<<<<<< HEAD
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
}

.line{
    display: none;
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
=======
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
}



<<<<<<< HEAD

=======
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
@media (max-width: 600px){
    
    .header{
        width:100%;
    }
    
    .title-header{
    margin: 10px auto;
    width: 100%;
    }

    .menu-desktop{
        display:none;
    }
    
    .menu-mobile{
        display:block;
        width: 100%;
        margin:10px auto;
        height: 2px;
        background-color: rgb(180, 75, 89);
        border-radius: 10px;
        text-decoration: none;
        color: #fff;
        font-size: 16px; 
        height: 5vh;
        display: block;
        margin: 20 70px 10px 70px;
        font-size: 16px;
        height: calc(9vh - 15px);
        top: 0;
        
        }
        



.image-carousel .hover{
    display: none
}

    .social-media li p{
display: none
    }

    .footer{
    width: 100%;
    margin: 0;
    display: inline-block
    }

    .list-image a{
    width: 60%;
    margin: 0;
    display: inline-block
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
    
    }

    .div-article{
        display: none
    }

    .hr{
        display: inline-block;
        position: relative;
        text-align: center;
        width: 100px;
        height: 1px;
        
        
<<<<<<< HEAD
    
    }
    
    h1::after,h1::before{
    content: "";
    position: absolute;
    width: 100px;
    height: 1px;
    background-color: grey;
    top: 1;
    margin: 70px;
    }
    
=======
    
    }

    .div-article{
        display: none
    }

    .hr{
        display: inline-block;
        position: relative;
        text-align: center;
        width: 100px;
        height: 1px;
        
        
    
    }
    
=======
    
    }
    
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
    h1::after,h1::before{
    content: "";
    position: absolute;
    width: 100px;
    height: 1px;
    background-color: grey;
    top: 1;
    margin: 70px;
    }
<<<<<<< HEAD
    
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
    h1::before{
    left: 480px;
    }
    
<<<<<<< HEAD
<<<<<<< HEAD
=======

.social-media li a:hover{
    color: rgb(180, 75, 89);
}
.fab, .far, .fas{
    margin: 0 10px;
}
>>>>>>> 4c46994baae21beab3f67fd19f1676f2400116ae
=======
    h1::after{
    right: 480px;
    }
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
=======
    h1::after{
    right: 480px;
    }
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
=======
    
    h1::before{
    left: 480px;
    }
    
    h1::after{
    right: 480px;
    }
>>>>>>> 02e49823be9a8d08aefe63ea7e15656624f41338
